html {
    color: #333;
    background: white;
    font: 2rem / 1.5 sans-serif;
    text-align: center;
}

body {
    margin: 0;
}

h1,
p,
a {
    display: block;
    padding: 0.5rem;
    margin: 0;
}

h1 {
    color: white;
    background: teal;
    font-size: 2rem;
    font-weight: normal;
}

a {
    color: teal;
    text-decoration: none;
}

a:focus,
a:hover {
    background: #ddd;
}

[lang=de] {
    display: block;
}
